---
import History from '@/components/deposit/History'
import { getTokenBalance } from '@/server-side/api'
import type { Props } from 'astro'
import Steps from '../../components/deposit/Steps.tsx'
import Layout from '../../layouts/Layout.astro'
import { generateSEO } from '../../utils'

const seo = generateSEO({})
const balance = await getTokenBalance()
const logged = !!Astro.cookies.get('token')
---

<Layout title='Deposit Crypo - Home' metadata={seo as Props}>
  <div class='text-gray-800 flex-grow flex' id='div-1'>
    <div class='pt-6 w-full my-0 mx-auto px-6 lg:max-w-[58.50rem] lg:pl-0 lg:pr-0' id='div-2'>
      {
        logged ? (
          <div class='pt-6 w-full my-0 mx-auto md:px-6 lg:max-w-[58.50rem] lg:pl-0 lg:pr-0' id='div-2'>
            <Steps client:only='preact' />
            <History balance={balance} client:load type='DEPOSIT' />
          </div>
        ) : (
          <div
            style='grid-template-areas: "top top" "a b" "c c";'
            class='grid-cols-[1fr_336px] grid-rows-[auto] grid m-0'
            id='div-3'>
            <div style='grid-column: top; grid-row: top;' class='mt-0 mx-0 mb-10'>
              <div class='rounded-xl m-0 p-6'>
                <div class='text-xl font-medium m-0'>You are not logged in</div>
                <div class='text-slate-500 text-sm mt-2 mx-0 mb-0'>
                  All new and existing users must complete Login to access all products and services by sellfastusdt
                </div>
                <a
                  href='/login'
                  class='text-zinc-950 bg-yellow-300 items-center cursor-pointer text-sm font-medium justify-center px-4 text-center text-ellipsis break-all inline-flex w-32 h-9 min-w-[7.50rem] min-h-[2.25rem] mt-6 mx-0 mb-0 overflow-hidden rounded-lg'>
                  Log in
                </a>
              </div>
            </div>
          </div>
        )
      }
    </div>
  </div>
</Layout>

<style>
  @media (max-width: 767px) {
    /* DivMagic Note: Tailwind does not support max-width. We will fix this soon. */

    #div-1 {
      flex-direction: column !important;
    }
    #div-2 {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
    #div-7 {
      display: none !important;
    }
  }
  @media (max-width: 1023px) {
    /* DivMagic Note: Tailwind does not support max-width. We will fix this soon. */

    #div-3 {
      grid-template-areas: 'top' 'a' 'c' 'b' !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: auto auto auto !important;
    }
    #div-4 {
      width: 100% !important;
    }
    #div-5 {
      width: 100% !important;
    }
    #div-6 {
      margin-bottom: 80px !important;
    }
  }
</style>
