---
import { Animation } from '@/components/Animation'
import Note from '@/fragments/buy-screen/Note.astro'
import Support from '@/fragments/home/Support.astro'
import TradeBinance from '@/fragments/home/chart/TradeBinance'
import SellForm from '@/fragments/sell-screen/SellForm'
import { getTokenBalance } from '@/server-side/api'
import type { Props } from 'astro'
import Layout from '../../layouts/Layout.astro'
import { generateSEO } from '../../utils'

const balance = await getTokenBalance()
const metadata = generateSEO({})

const contentText = {
  buyUSDTTitle: 'Sell USDT',
  buyPriceLabel: 'Sell price:',
  autoTransactionNote:
    'Automated transactions within 5 to 10 seconds via our platform, operational 24/7/365 (including nights and weekends).'
}
---

<Layout title='SELL CRYPTO' metadata={metadata as Props}>
  <div>
    <div class='w-[100%] flex justify-center items-center mt-2'>
      <div class='w-[100%] lg:w-[1300px]'>
        <div class='shadow pt-[10px] pb-[20px] lg:py-[20px]'>
          <div
            class='px-[20px] py-[4px] font-medium text-[12px] sm:text-[13px] lg:text-[14px] bg-bgcontainer text-text border-x-[0px] shadow border-Black'
          >
            {contentText.autoTransactionNote}
          </div>
          <div class='w-[100%] lg:px-[20px]'>
            <TradeBinance client:load />
            <Animation
              duration={0.3}
              animationName='fadeIn'
              className='text-neutral-800 flex-wrap text-sm flex'
              client:visible
            >
              <SellForm client:only='preact' balance={balance} />
            </Animation>
            <div class='w-[100%] h-[3px] bg-bgcontainer mt-[60px] rounded-3xl'></div>
            <Note />
          </div>
        </div>
      </div>
    </div>
    <Support />
  </div>
</Layout>
