---

---

<div class='lg:w-[200px]'>
  <div class='lg:w-[150px] lg:flex justify-center'>
    <a href='/' class='logo block h-[30px] w-[30px] sm:h-[60px] sm:w-[60px] lg:h-[60px] lg:w-[60px]'>
      <img src='/assets/images/logo.png' alt='logo' />
    </a>
  </div>
  <span class='text-[9px] hidden lg:inline-block'> Buy and sell USDT quickly and safely</span>
</div>
