---
const content = {
  title: "Today's ",
  subTitle: 'Cryptocurrency Prices by Market Cap',
  description: 'The global crypto market cap is $1.63T, a 3.11% decrease over the last day.'
}
---

<div class='container px-[20px] md:px-[0] py-[20px] md:py-[40px]'>
  <h1 class='mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl'>
    {content.title}
    {content.subTitle}
  </h1>
  <p class='text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400'>
    {content.description}
  </p>
</div>
