---
import type { Props } from 'astro'
import Layout from '../layouts/Layout.astro'
import { generateSEO } from '../utils'
const metadata = generateSEO({})
---

<Layout title='Question' metadata={metadata as Props}>
  <section class='faq-box-contain section-b-space pt-[80px]'>
    <div class='container m-auto'>
      <div class='row'>
        <div class='col-xl-5'>
          <div>
            <h2 class='text-center text-[40px] mb-[10px]'>Frequently Asked Questions</h2>
            <p class='text-[16px] mb-[24px] text-[#a8a8a8] text-center'>
              We are answering most frequent questions. No worries if you not find exact one. You can find out more by
              searching or continuing clicking button below or directly <a>contact our support.</a>
            </p>
          </div>
        </div>

        <div class='col-xl-7'>
          <div>
            <div class='px-[20px]'>
              <div class='mb-[20px] bg-[#f4f4f4] rounded-[20px] py-[20px]'>
                <h2 class='block sm:flex lg:flex justify-between items-center px-[20px] mb-[20px]'>
                  <button class='text-[18px] sm:text-20px lg:text-[24px] text-[#000] text-center'>
                    What is a cryptocurrency exchange?</button
                  >

                  <div class='flex justify-center'>
                    <span id='icon' class='btn-question'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'
                        fill='#000000'
                        version='1.1'
                        id='Layer_1'
                        width='32px'
                        height='32px'
                        viewBox='0 0 100 100'
                        enable-background='new 0 0 100 100'
                        xml:space='preserve'
                      >
                        <g>
                          <path
                            d='M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58   c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022   c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z'
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </div>
                </h2>
                <div
                  id='dropdown'
                  class='question-dropdows px-[20px] h-[0px] overflow-hidden transition-height duration-300 ease-in-out'
                >
                  <div class='text-[#000]'>
                    <p class='mb-[20px] text-[#a8a8a8]'>
                      Cryptocurrency exchanges are digital marketplaces that enable users to buy and sell
                      cryptocurrencies like Bitcoin, Ethereum, and Tether. The Binance exchange is the largest crypto
                      exchange by trade volume.
                    </p>
                  </div>
                </div>
              </div>

              <div class='mb-[20px] bg-[#f4f4f4] rounded-[20px] py-[20px]'>
                <h2 class='block sm:flex lg:flex justify-between items-center px-[20px] mb-[20px]'>
                  <button class='text-[18px] sm:text-20px lg:text-[24px] text-[#000] text-center'>
                    What products does SellFastUsdt provide?</button
                  >

                  <div class='flex justify-center'>
                    <span id='icon' class='btn-question'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'
                        fill='#000000'
                        version='1.1'
                        id='Layer_1'
                        width='32px'
                        height='32px'
                        viewBox='0 0 100 100'
                        enable-background='new 0 0 100 100'
                        xml:space='preserve'
                      >
                        <g>
                          <path
                            d='M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58   c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022   c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z'
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </div>
                </h2>
                <div
                  class='question-dropdows px-[20px] h-[0px] overflow-hidden transition-height duration-300 ease-in-out'
                >
                  <div class='text-[#000]'>
                    <p class='mb-[20px] text-[#a8a8a8]'>
                      SellFastUsdt is the world's leading cryptocurrency exchange, catering to 169 million registered
                      users in over 180 countries. With low fees and over 350 cryptocurrencies to trade, Binance is the
                      preferred exchange to trade Bitcoin, Altcoins, and other virtual assets.
                    </p>
                  </div>
                </div>
              </div>

              <div class='mb-[20px] bg-[#f4f4f4] rounded-[20px] py-[20px]'>
                <h2 class='block sm:flex lg:flex justify-between items-center px-[20px] mb-[20px]'>
                  <button class='text-[18px] sm:text-20px lg:text-[24px] text-[#000] text-center'>
                    How to buy SellFastUsdt and other cryptocurrencies on SellFastUsdt</button
                  >

                  <div class='flex justify-center'>
                    <span id='icon' class='btn-question'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'
                        fill='#000000'
                        version='1.1'
                        id='Layer_1'
                        width='32px'
                        height='32px'
                        viewBox='0 0 100 100'
                        enable-background='new 0 0 100 100'
                        xml:space='preserve'
                      >
                        <g>
                          <path
                            d='M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58   c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022   c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z'
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </div>
                </h2>
                <div
                  class='question-dropdows px-[20px] h-[0px] overflow-hidden transition-height duration-300 ease-in-out'
                >
                  <div class='text-[#000]'>
                    <p class='mb-[20px] text-[#a8a8a8]'>
                      There are several ways to buy cryptocurrencies on Binance. You can use a credit/debit card, cash
                      balance, or Apple Pay/Google Pay to purchase crypto on Binance. Before getting started, please
                      make sure you’ve completed Identity Verification for your Binance account.
                    </p>
                  </div>
                </div>
              </div>

              <div class='mb-[20px] bg-[#f4f4f4] rounded-[20px] py-[20px]'>
                <h2 class='block sm:flex lg:flex justify-between items-center px-[20px] mb-[20px]'>
                  <button class='text-[18px] sm:text-20px lg:text-[24px] text-[#000] text-center'>
                    How to track cryptocurrency prices</button
                  >

                  <div class='flex justify-center'>
                    <span id='icon' class='btn-question'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'
                        fill='#000000'
                        version='1.1'
                        id='Layer_1'
                        width='32px'
                        height='32px'
                        viewBox='0 0 100 100'
                        enable-background='new 0 0 100 100'
                        xml:space='preserve'
                      >
                        <g>
                          <path
                            d='M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58   c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022   c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z'
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </div>
                </h2>
                <div
                  class='question-dropdows px-[20px] h-[0px] overflow-hidden transition-height duration-300 ease-in-out'
                >
                  <div class='text-[#000]'>
                    <p class='mb-[20px] text-[#a8a8a8]'>
                      The easiest way to track the latest cryptocurrency prices, trading volumes, trending altcoins, and
                      market cap is the SellFastUsdt Cryptocurrency Directory. Click on the coins to know historical
                      coin prices, 24-hour trading volume, and the price of cryptocurrencies like Bitcoin, Ethereum, BNB
                      and others in real-time.
                    </p>
                  </div>
                </div>
              </div>

              <div class='mb-[20px] bg-[#f4f4f4] rounded-[20px] py-[20px]'>
                <h2 class='block sm:flex lg:flex justify-between items-center px-[20px] mb-[20px]'>
                  <button class='text-[18px] sm:text-20px lg:text-[24px] text-[#000] text-center'>
                    How to trade cryptocurrencies on SellFastUsdt</button
                  >

                  <div class='flex justify-center'>
                    <span id='icon' class='btn-question'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'
                        fill='#000000'
                        version='1.1'
                        id='Layer_1'
                        width='32px'
                        height='32px'
                        viewBox='0 0 100 100'
                        enable-background='new 0 0 100 100'
                        xml:space='preserve'
                      >
                        <g>
                          <path
                            d='M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58   c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022   c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z'
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </div>
                </h2>
                <div
                  class='question-dropdows px-[20px] h-[0px] overflow-hidden transition-height duration-300 ease-in-out'
                >
                  <div class='text-[#000]'>
                    <p class='mb-[20px] text-[#a8a8a8]'>
                      You can trade hundreds of cryptocurrencies on SellFastUsdt via the Spot, Margin, Futures, and
                      Options markets. To begin trading, users need to register an account, complete identity
                      verification, buy/deposit crypto, and start trading.
                    </p>
                  </div>
                </div>
              </div>

              <div class='mb-[20px] bg-[#f4f4f4] rounded-[20px] py-[20px]'>
                <h2 class='block sm:flex lg:flex justify-between items-center px-[20px] mb-[20px]'>
                  <button class='text-[18px] sm:text-20px lg:text-[24px] text-[#000] text-center'>
                    How to earn from crypto on SellFastUsdt
                  </button>

                  <div class='flex justify-center'>
                    <span id='icon' class='btn-question'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink'
                        fill='#000000'
                        version='1.1'
                        id='Layer_1'
                        width='32px'
                        height='32px'
                        viewBox='0 0 100 100'
                        enable-background='new 0 0 100 100'
                        xml:space='preserve'
                      >
                        <g>
                          <path
                            d='M78.466,35.559L50.15,63.633L22.078,35.317c-0.777-0.785-2.044-0.789-2.828-0.012s-0.789,2.044-0.012,2.827L48.432,67.58   c0.365,0.368,0.835,0.563,1.312,0.589c0.139,0.008,0.278-0.001,0.415-0.021c0.054,0.008,0.106,0.021,0.16,0.022   c0.544,0.029,1.099-0.162,1.515-0.576l29.447-29.196c0.785-0.777,0.79-2.043,0.012-2.828S79.249,34.781,78.466,35.559z'
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </div>
                </h2>
                <div
                  class='question-dropdows px-[20px] h-[0px] overflow-hidden transition-height duration-300 ease-in-out'
                >
                  <div class='text-[#000]'>
                    <p class='mb-[20px] text-[#a8a8a8]'>
                      Users can earn rewards on more than 180+ cryptocurrencies by using one of the products offered on
                      Binance Earn. Our platform offers dozens of digital assets like Bitcoin, Ethereum, and
                      stablecoins.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  document.querySelectorAll('.btn-question').forEach(function (icon, index) {
    icon.addEventListener('click', function () {
      var dropdown = document.querySelectorAll('.question-dropdows')[index] as any
      if (dropdown.style.height === '0px' || dropdown.style.height === '') {
        dropdown.style.height = 'auto'
      } else {
        dropdown.style.height = '0px'
      }
    })
  })
</script>
